# 2022 FIFA World Cup Predictions

Kaggle link: https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017?resource=download

In [1]:
#import libraries
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
#%matplotlib inline

In [2]:
#home team data
results_home = pd.read_csv('results.csv')
results_home['date'] = pd.to_datetime(results_home['date'])
results_home = results_home.rename(columns = {'home_team':'team', 
                                              'away_team':'opponent',
                                              'home_score':'team_score',
                                              'away_score':'opponent_score'})
results_home['h_or_a'] = 'Home'

#away team data
results_away = pd.read_csv('results.csv')
results_away['date'] = pd.to_datetime(results_away['date'])
results_away = results_away.rename(columns = {'home_team':'opponent', 
                                              'away_team':'team',
                                              'home_score':'opponent_score',
                                              'away_score':'team_score'})
results_away = results_away[['date', 'team', 'opponent', 'team_score', 'opponent_score', 
                             'tournament', 'city', 'country', 'neutral']]
results_away['h_or_a'] = 'Away'

#concatenating home and away team data
results = pd.concat([results_home, results_away], axis = 0)
results

,date,team,opponent,team_score,opponent_score,tournament,city,country,neutral,h_or_a
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Home
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,Home
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Home
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Home
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Home
...,...,...,...,...,...,...,...,...,...,...
44201,2022-12-01,Morocco,Canada,NaN,NaN,FIFA World Cup,Doha,Qatar,True,Away
44202,2022-12-02,Switzerland,Serbia,NaN,NaN,FIFA World Cup,Doha,Qatar,True,Away
44203,2022-12-02,Brazil,Cameroon,NaN,NaN,FIFA World Cup,Lusail,Qatar,True,Away
44204,2022-12-02,Uruguay,Ghana,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True,Away
44205,2022-12-02,Portugal,South Korea,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True,Away

In [3]:
#number of matches
results['p'] = 1

#wins
def set_result(row):
    if row["team_score"] > row["opponent_score"]:
        return 1
    else:
        return 0
results = results.assign(w = results.apply(set_result, axis=1))

#draws
def set_result(row):
    if row["team_score"] == row["opponent_score"]:
        return 1
    else:
        return 0
results = results.assign(d = results.apply(set_result, axis=1))

#losses
def set_result(row):
    if row["team_score"] < row["opponent_score"]:
        return 1
    else:
        return 0
results = results.assign(l = results.apply(set_result, axis=1))

results

,date,team,opponent,team_score,opponent_score,tournament,city,country,neutral,h_or_a,p,w,d,l
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,Home,1,0,1,0
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False,Home,1,1,0,0
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,Home,1,1,0,0
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False,Home,1,0,1,0
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,Home,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44201,2022-12-01,Morocco,Canada,NaN,NaN,FIFA World Cup,Doha,Qatar,True,Away,1,0,0,0
44202,2022-12-02,Switzerland,Serbia,NaN,NaN,FIFA World Cup,Doha,Qatar,True,Away,1,0,0,0
44203,2022-12-02,Brazil,Cameroon,NaN,NaN,FIFA World Cup,Lusail,Qatar,True,Away,1,0,0,0
44204,2022-12-02,Uruguay,Ghana,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True,Away,1,0,0,0
44205,2022-12-02,Portugal,South Korea,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True,Away,1,0,0,0

In [4]:
#2022 World Cup teams
wc_teams = ['Qatar', 'Ecuador', 'Senegal', 'Netherlands', 
            'England', 'Iran', 'United States', 'Wales',
            'Argentina', 'Saudi Arabia', 'Mexico', 'Poland',
            'France', 'Australia', 'Denmark', 'Tunisia',
            'Spain', 'Costa Rica', 'Germany', 'Japan',
            'Belgium', 'Canada', 'Morocco', 'Croatia',
            'Brazil', 'Serbia', 'Switzerland', 'Cameroon',
            'Portugal', 'Ghana', 'Uruguay', 'South Korea']
results_2022_teams = results[(results['team'].isin(wc_teams)) & 
                             (results['opponent'].isin(wc_teams))]

#matches since last World Cup
results_cur_all = results_2022_teams[(results_2022_teams['date'] >= '2018-07-16') & 
                                     (results_2022_teams['date'] <= '2022-11-28')]

#matches since last World Cup excluding friendlies
results_cur_cmp = results_2022_teams[(results_2022_teams['date'] >= '2018-07-16') &
                                     (results_2022_teams['date'] <= '2022-11-28') &
                                     (results_2022_teams['tournament'] != 'Friendly')]

In [5]:
#Create data for teams in Group Stage
data = {'team': ['Qatar', 'Ecuador', 'Senegal', 'Netherlands',
                 'England', 'Iran', 'United States', 'Wales',
                 'Argentina', 'Saudi Arabia', 'Mexico', 'Poland',
                 'France', 'Australia', 'Denmark', 'Tunisia',
                 'Spain', 'Costa Rica', 'Germany', 'Japan',
                 'Belgium', 'Canada', 'Morocco', 'Croatia',
                 'Brazil', 'Serbia', 'Switzerland', 'Cameroon',
                 'Portugal', 'Ghana', 'Uruguay', 'South Korea'],
       'group': ['A','A','A','A',
                 'B','B','B','B',
                 'C','C','C','C',
                 'D','D','D','D',
                 'E','E','E','E',
                 'F','F','F','F',
                 'G','G','G','G',
                 'H','H','H','H']}
groups_team = pd.DataFrame(data)

In [6]:
#Create data for opponents in Group Stage
data = {'team': ['Qatar', 'Ecuador', 'Senegal', 'Netherlands',
                 'England', 'Iran', 'United States', 'Wales',
                 'Argentina', 'Saudi Arabia', 'Mexico', 'Poland',
                 'France', 'Australia', 'Denmark', 'Tunisia',
                 'Spain', 'Costa Rica', 'Germany', 'Japan',
                 'Belgium', 'Canada', 'Morocco', 'Croatia',
                 'Brazil', 'Serbia', 'Switzerland', 'Cameroon',
                 'Portugal', 'Ghana', 'Uruguay', 'South Korea'],
       'group': ['A','A','A','A',
                 'B','B','B','B',
                 'C','C','C','C',
                 'D','D','D','D',
                 'E','E','E','E',
                 'F','F','F','F',
                 'G','G','G','G',
                 'H','H','H','H']}
groups_opponent = pd.DataFrame(data)

In [7]:
#Create Group Stage groups
group_a = ['Qatar', 'Ecuador', 'Senegal', 'Netherlands']
group_b = ['England', 'Iran', 'United States', 'Wales']
group_c = ['Argentina', 'Saudi Arabia', 'Mexico', 'Poland']
group_d = ['France', 'Australia', 'Denmark', 'Tunisia']
group_e = ['Spain', 'Costa Rica', 'Germany', 'Japan']
group_f = ['Belgium', 'Canada', 'Morocco', 'Croatia']
group_g = ['Brazil', 'Serbia', 'Switzerland', 'Cameroon']
group_h = ['Portugal', 'Ghana', 'Uruguay', 'South Korea']

## Poisson Distribution amongst all World Cup teams

In [8]:
#create standings table for each team
table_group = results_cur_all[['team','p','w','d','l','team_score','opponent_score']]
table_group = table_group.rename(columns = {'team_score':'gf',
                                            'opponent_score':'ga'})
table_group = table_group.groupby(by = 'team').sum().sort_values('team', ascending = True)

table_group['gpg_scored'] = table_group['gf'] / table_group['p']
table_group['gpg_conceded'] = table_group['ga'] / table_group['p']

table_group

                p   w   d   l    gf    ga  gpg_scored  gpg_conceded
team
Argentina      46  21   9  16  68.0  51.0    1.478261      1.108696
Australia       8   1   2   5   4.0  11.0    0.500000      1.375000
Belgium        31  16   6   9  52.0  39.0    1.677419      1.258065
Brazil         34  21   7   6  56.0  26.0    1.647059      0.764706
Cameroon        8   0   4   4   3.0   8.0    0.375000      1.000000
Canada         17   7   2   8  19.0  22.0    1.117647      1.294118
Costa Rica     21   3   5  13  12.0  35.0    0.571429      1.666667
Croatia        23   8   5  10  30.0  39.0    1.304348      1.695652
Denmark        24   8   6  10  30.0  30.0    1.250000      1.250000
Ecuador        20   3   8   9  20.0  34.0    1.000000      1.700000
England        27  14   8   5  40.0  24.0    1.481481      0.888889
France         28  15   6   7  43.0  39.0    1.535714      1.392857
Germany        23   2  13   8  31.0  47.0    1.347826      2.043478
Ghana          10   3   2   5  14.0  16.0    1.400000      1.600000
Iran           10   3   3   4  10.0  17.0    1.000000      1.700000
Japan          24  12   4   8  34.0  23.0    1.416667      0.958333
Mexico         31  11   7  13  31.0  40.0    1.000000      1.290323
Morocco        10   7   1   2  11.0   5.0    1.100000      0.500000
Netherlands    32  16   8   8  57.0  40.0    1.781250      1.250000
Poland         15   3   5   7  15.0  23.0    1.000000      1.533333
Portugal       27  11   9   7  45.0  32.0    1.666667      1.185185
Qatar          20   5   1  14  17.0  41.0    0.850000      2.050000
Saudi Arabia   15   4   4   7   5.0  12.0    0.333333      0.800000
Senegal         6   2   2   2   7.0   8.0    1.166667      1.333333
Serbia         11   3   4   4  19.0  18.0    1.727273      1.636364
South Korea    19   7   6   6  21.0  25.0    1.105263      1.315789
Spain          24  11   9   4  53.0  23.0    2.208333      0.958333
Switzerland    31   8   9  14  42.0  46.0    1.354839      1.483871
Tunisia        10   3   3   4   9.0  10.0    0.900000      1.000000
United States  30  13   8   9  30.0  26.0    1.000000      0.866667
Uruguay        47  18  11  18  68.0  61.0    1.446809      1.297872
Wales          24   2   7  15  17.0  42.0    0.708333      1.750000

In [9]:
#goals scored per game for all teams
avg_goals = table_group['gf'].sum() / table_group['p'].sum()
avg_goals

1.293201133144476

In [10]:
#goals scored per game for all teams (should be the same as goals scored per game for all teams)
table_group['ga'].sum() / table_group['p'].sum()

1.293201133144476

In [11]:
#calculate strengths
strengths = results_cur_all.groupby(['team']).mean().sort_values('team', ascending = True)
strengths = strengths.reset_index()
strengths = strengths[['team', 'team_score', 'opponent_score']]
strengths['att'] = strengths['team_score'] / avg_goals
strengths['def'] = strengths['opponent_score'] / avg_goals
strengths = strengths[['team', 'att', 'def']]
strengths_team = strengths.rename(columns = {'att':'team_att',
                                             'def':'team_def'})
strengths_opponent = strengths.rename(columns = {'team':'opponent',
                                                 'att':'opponent_att',
                                                 'def':'opponent_def'})
strengths

             team       att       def
0       Argentina  1.143102  0.857327
1       Australia  0.386637  1.063253
2         Belgium  1.297106  0.972830
3          Brazil  1.273629  0.591328
4        Cameroon  0.289978  0.773275
5          Canada  0.864248  1.000709
6      Costa Rica  0.441871  1.288792
7         Croatia  1.008619  1.311205
8         Denmark  0.966594  0.966594
9         Ecuador  0.773275  1.314567
10        England  1.145592  0.687355
11         France  1.187529  1.077061
12        Germany  1.042240  1.580170
13          Ghana  1.082585  1.237240
14           Iran  0.773275  1.314567
15          Japan  1.095473  0.741055
16         Mexico  0.773275  0.997774
17        Morocco  0.850602  0.386637
18    Netherlands  1.377396  0.966594
19         Poland  0.773275  1.185688
20       Portugal  1.288792  0.916474
21          Qatar  0.657284  1.585214
22   Saudi Arabia  0.257758  0.618620
23        Senegal  0.902154  1.031033
24         Serbia  1.335657  1.265359
25    South Korea  0.854672  1.017467
26          Spain  1.707649  0.741055
27    Switzerland  1.047663  1.147440
28        Tunisia  0.695947  0.773275
29  United States  0.773275  0.670172
30        Uruguay  1.118781  1.003612
31          Wales  0.547736  1.353231

World Cup schedule: https://fbref.com/en/comps/1/schedule/World-Cup-Scores-and-Fixtures

In [12]:
#group stage predictions (using both round() and np.floor)
group_stage_h = pd.read_csv('2022_wc_schedule.csv', usecols = [0,1,2,3,4,8])
group_stage_h['Date'] = pd.to_datetime(group_stage_h['Date'])
group_stage_h = group_stage_h.dropna()
group_stage_h['Home'] = group_stage_h['Home'].replace(['Qatar qa', 'Ecuador ec', 'Senegal sn', 'Netherlands nl',
                                                       'England eng', 'IR Iran ir', 'United States us','Wales wls',
                                                       'Argentina ar', 'Saudi Arabia sa', 'Mexico mx', 'Poland pl',
                                                       'France fr', 'Australia au', 'Denmark dk', 'Tunisia tn',
                                                       'Spain es', 'Costa Rica cr', 'Germany de', 'Japan jp',
                                                       'Belgium be', 'Canada ca', 'Morocco ma', 'Croatia hr',
                                                       'Brazil br', 'Serbia rs', 'Switzerland ch', 'Cameroon cm',
                                                       'Portugal pt', 'Ghana gh', 'Uruguay uy', 'Korea Republic kr'],
                                                      ['Qatar', 'Ecuador', 'Senegal', 'Netherlands',
                                                       'England', 'Iran', 'United States','Wales',
                                                       'Argentina', 'Saudi Arabia', 'Mexico', 'Poland',
                                                       'France', 'Australia', 'Denmark', 'Tunisia',
                                                       'Spain', 'Costa Rica', 'Germany', 'Japan',
                                                       'Belgium', 'Canada', 'Morocco', 'Croatia',
                                                       'Brazil', 'Serbia', 'Switzerland', 'Cameroon',
                                                       'Portugal', 'Ghana', 'Uruguay', 'South Korea'])
group_stage_h['Away'] = group_stage_h['Away'].replace(['qa Qatar', 'ec Ecuador', 'sn Senegal', 'nl Netherlands',
                                                       'eng England', 'ir IR Iran', 'us United States','wls Wales',
                                                       'ar Argentina', 'sa Saudi Arabia', 'mx Mexico', 'pl Poland',
                                                       'fr France', 'au Australia', 'dk Denmark', 'tn Tunisia',
                                                       'es Spain', 'cr Costa Rica', 'de Germany', 'jp Japan',
                                                       'be Belgium', 'ca Canada', 'ma Morocco', 'hr Croatia',
                                                       'br Brazil', 'rs Serbia', 'ch Switzerland', 'cm Cameroon',
                                                       'pt Portugal', 'gh Ghana', 'uy Uruguay', 'kr Korea Republic'],
                                                      ['Qatar', 'Ecuador', 'Senegal', 'Netherlands',
                                                       'England', 'Iran', 'United States','Wales',
                                                       'Argentina', 'Saudi Arabia', 'Mexico', 'Poland',
                                                       'France', 'Australia', 'Denmark', 'Tunisia',
                                                       'Spain', 'Costa Rica', 'Germany', 'Japan',
                                                       'Belgium', 'Canada', 'Morocco', 'Croatia',
                                                       'Brazil', 'Serbia', 'Switzerland', 'Cameroon',
                                                       'Portugal', 'Ghana', 'Uruguay', 'South Korea'])
group_stage_h = group_stage_h.rename(columns = {'Home':'team', 'Away':'opponent'})
group_stage_h['h_or_a'] = 'Home'

group_stage_h = pd.merge(group_stage_h, groups_team, on = 'team')
group_stage_h = pd.merge(group_stage_h, strengths_team, on = 'team')
group_stage_h = pd.merge(group_stage_h, strengths_opponent, on = 'opponent')


group_stage_a = pd.read_csv('2022_wc_schedule.csv', usecols = [0,1,2,3,4,8])
group_stage_a['Date'] = pd.to_datetime(group_stage_a['Date'])
group_stage_a = group_stage_a.dropna()
group_stage_a['Home'] = group_stage_a['Home'].replace(['Qatar qa', 'Ecuador ec', 'Senegal sn', 'Netherlands nl',
                                                       'England eng', 'IR Iran ir', 'United States us','Wales wls',
                                                       'Argentina ar', 'Saudi Arabia sa', 'Mexico mx', 'Poland pl',
                                                       'France fr', 'Australia au', 'Denmark dk', 'Tunisia tn',
                                                       'Spain es', 'Costa Rica cr', 'Germany de', 'Japan jp',
                                                       'Belgium be', 'Canada ca', 'Morocco ma', 'Croatia hr',
                                                       'Brazil br', 'Serbia rs', 'Switzerland ch', 'Cameroon cm',
                                                       'Portugal pt', 'Ghana gh', 'Uruguay uy', 'Korea Republic kr'],
                                                      ['Qatar', 'Ecuador', 'Senegal', 'Netherlands',
                                                       'England', 'Iran', 'United States','Wales',
                                                       'Argentina', 'Saudi Arabia', 'Mexico', 'Poland',
                                                       'France', 'Australia', 'Denmark', 'Tunisia',
                                                       'Spain', 'Costa Rica', 'Germany', 'Japan',
                                                       'Belgium', 'Canada', 'Morocco', 'Croatia',
                                                       'Brazil', 'Serbia', 'Switzerland', 'Cameroon',
                                                       'Portugal', 'Ghana', 'Uruguay', 'South Korea'])
group_stage_a['Away'] = group_stage_a['Away'].replace(['qa Qatar', 'ec Ecuador', 'sn Senegal', 'nl Netherlands',
                                                       'eng England', 'ir IR Iran', 'us United States','wls Wales',
                                                       'ar Argentina', 'sa Saudi Arabia', 'mx Mexico', 'pl Poland',
                                                       'fr France', 'au Australia', 'dk Denmark', 'tn Tunisia',
                                                       'es Spain', 'cr Costa Rica', 'de Germany', 'jp Japan',
                                                       'be Belgium', 'ca Canada', 'ma Morocco', 'hr Croatia',
                                                       'br Brazil', 'rs Serbia', 'ch Switzerland', 'cm Cameroon',
                                                       'pt Portugal', 'gh Ghana', 'uy Uruguay', 'kr Korea Republic'],
                                                      ['Qatar', 'Ecuador', 'Senegal', 'Netherlands',
                                                       'England', 'Iran', 'United States','Wales',
                                                       'Argentina', 'Saudi Arabia', 'Mexico', 'Poland',
                                                       'France', 'Australia', 'Denmark', 'Tunisia',
                                                       'Spain', 'Costa Rica', 'Germany', 'Japan',
                                                       'Belgium', 'Canada', 'Morocco', 'Croatia',
                                                       'Brazil', 'Serbia', 'Switzerland', 'Cameroon',
                                                       'Portugal', 'Ghana', 'Uruguay', 'South Korea'])
group_stage_a = group_stage_a.rename(columns = {'Home':'opponent', 'Away':'team'})
group_stage_a = group_stage_a[['Wk', 'Day', 'Date', 'Time', 'team', 'opponent']]
group_stage_a['h_or_a'] = 'Away'

group_stage_a = pd.merge(group_stage_a, groups_team, on = 'team')
group_stage_a = pd.merge(group_stage_a, strengths_team, on = 'team')
group_stage_a = pd.merge(group_stage_a, strengths_opponent, on = 'opponent')

group_stage = pd.concat([group_stage_h, group_stage_a], axis = 0)

group_stage['team_xG'] = group_stage['team_att'] * group_stage['opponent_def'] * avg_goals
group_stage['opponent_xG'] = group_stage['opponent_att'] * group_stage['team_def'] * avg_goals

group_stage_xG = group_stage[(group_stage['h_or_a'] == 'Home')]

group_stage['team_pred_1'] = group_stage['team_xG'].round()
group_stage['opponent_pred_1'] = group_stage['opponent_xG'].round()
group_stage['team_pred_2'] = group_stage['team_xG'].apply(np.floor)
group_stage['opponent_pred_2'] = group_stage['opponent_xG'].apply(np.floor)

group_stage = group_stage.drop(['team_att', 'team_def', 'opponent_att', 'opponent_def'], axis = 1)

group_stage = group_stage.sort_values(by = ['Date','Time','h_or_a'], ascending = [True, True, False])
group_stage.to_csv('group_stage.csv')

In [13]:
group_stage = group_stage[(group_stage['Wk'] == 3)]
group_stage.to_csv('group_stage_week_3.csv')

In [14]:
#team predictions using round()
group_stage['team_pred_1'].mean()

1.21875

In [15]:
#opponent predictions using round()
group_stage['opponent_pred_1'].mean()

1.21875

In [16]:
#team predictions using np.floor
group_stage['team_pred_2'].mean()

0.75

In [17]:
#opponent predictions using np.floor
group_stage['opponent_pred_2'].mean()

0.75

In [18]:
#show average goals scored by World Cup since 1974
wc_goals = pd.read_csv('results.csv')
wc_goals['date'] = pd.to_datetime(wc_goals['date'])
wc_goals = wc_goals[(wc_goals['date'] <= '2018-07-16') & 
                    (wc_goals['date'] >= '1972-01-01') & 
                    (wc_goals['tournament'] == 'FIFA World Cup')]
wc_goals['date'] = pd.DatetimeIndex(wc_goals['date']).year
wc_goals = wc_goals.drop('neutral', axis = 1)
wc_goals['both_scores'] = (wc_goals['home_score'] + wc_goals['away_score']) / 2
wc_goals = wc_goals.groupby(by = 'date').mean().sort_values('date')
wc_goals = wc_goals.reset_index()
wc_goals

    date  home_score  away_score  both_scores
0   1974    1.500000    1.052632     1.276316
1   1978    1.473684    1.210526     1.342105
2   1982    1.826923    0.980769     1.403846
3   1986    1.461538    1.076923     1.269231
4   1990    1.269231    0.942308     1.105769
5   1994    1.576923    1.134615     1.355769
6   1998    1.578125    1.093750     1.335938
7   2002    1.421875    1.093750     1.257812
8   2006    1.390625    0.906250     1.148438
9   2010    1.203125    1.062500     1.132812
10  2014    1.312500    1.359375     1.335938
11  2018    1.375000    1.265625     1.320312